
<ion-content [fullscreen]="true" class="bg_color">
  <ion-img [src]="this.logo_src" style></ion-img>
  <div id="container" class="div_button">
    <ion-button color="primary" (click)="onCommencerFacile()" shape="round" size="large" strong>MODE FACILE <ion-icon name="play"></ion-icon></ion-button>
    <br>
    <ion-button color="primary" (click)="onCommencerNormal()" shape="round" size="large" strong>MODE NORMAL <ion-icon name="play"></ion-icon></ion-button>
    <br>
    <ion-button color="primary" (click)="onCommencerDifficile()" shape="round" size="large" strong>MODE DIFFICILE <ion-icon name="play"></ion-icon></ion-button>
  </div>
</ion-content>
